HOST='0.0.0.0'
PORT=8000
DATABASE_HOST=127.0.0.1
DATABASE_NAME=production
DATABASE_USERNAME=main
DATABASE_PASSWORD=obviously_unsafe_password
DATABASE_PORT=5432
JWT_SECRET=unsafe_secret
DOCUMENTS_BASE_DIR='/tmp/documents'
NEW_RELIC_APP_NAME=DMS
NEW_RELIC_LICENSE_KEY=license_key_here